.game {
    background: url(../assets/pirateship.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.gameTools {
    display: flex;
    justify-content: space-between;
    width: 590px;
    margin: auto;
    font-size: 3rem;
    
    p {
        display: flex;
        align-items: center;
    }
}

.gameBoard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
}

.card {
    width: calc((600px / 4) - 10px);
    height: calc((600px / 4) - 10px);
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.frontFace, .backFace {
    position: absolute;
    backface-visibility: hidden;
    width: calc((600px / 4) - 10px);
    height: calc((600px / 4) - 10px);
}

.backFace {
    background: url(../assets/chest.jpg);
    background-size: cover;
    background-position: center;

    &:hover, &:focus {
        transform: scale(1.05);
        background: url(../assets/chest.jpg);
        background-size: cover;
        background-position: center;
    }
}

.frontFace {
    transform: rotateY(180deg);
    background: rgb(0, 91, 89);
}

.flip {
    transform: rotateY(180deg);
}