.game {
    background: url(../assets/pirateship.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.gameTools {
    display: flex;
    justify-content: space-between;
    width: 590px;
    margin: auto;
    font-size: 3rem;
    padding-top: 2.5%;
}

.gameBoard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
}

.card {
    width: calc((600px / 4) - 10px);
    height: calc((600px / 4) - 10px);
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.frontFace, .backFace {
    position: absolute;
    backface-visibility: hidden;
    width: calc((600px / 4) - 10px);
    height: calc((600px / 4) - 10px);
}

.backFace {
    background: url(../assets/chest.jpg);
    background-size: cover;
    background-position: center;
    font-size: 4rem;
}

.frontFace {
    transform: rotateY(180deg);
    background: $primaryColor;
}

.flip {
    transform: rotateY(180deg);
}