* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    color: white;
    font-family: treasure;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.game {
    display: none;
}

.shine {
    position: relative;
    overflow: hidden;

    &:hover::before {
        left: 250px;
        cursor: pointer;
    }
}

.shine::before {
    content: " ";
    background-image: linear-gradient(-65deg, transparent 33%, rgba(255, 255, 255, 0.6) 50%, transparent 66%);
    width: 300px;
    height: 100px;
    position: absolute;
    left: -275px;
    transition: 0.8s;
}

button {
    font-size: 5rem;
    color: #644800;
    background: gold;
    padding: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    border: 2px solid rgba(81, 203, 238, 0);
    width: 100%;
    border-radius: 5px;

    &:focus {
        color: gold;
        background: rgb(170, 126, 12);
    }
}

h2 {
    font-size: 8rem;
}

p {
    font-size: 4rem;
}