@media (max-width: 900px) {
    html {
        font-size: 50%;
    }

    .gameBoard {
        width: 500px;
        height: 500px;
    }

    .gameTools {
        width: 490px;
        padding-top: 5%;
    }

    .card, .frontFace, .backFace {
        width: calc((500px / 4) - 10px);
        height: calc((500px / 4) - 10px);
    }
}


@media (max-width: 700px) {
    .homeScreen {
        h1 {
            font-size: 8rem;
        }
    }
}


@media (max-width: 600px) {
    html {
        font-size: 40%;
    }

    .gameBoard {
        width: 400px;
        height: 400px;
    }

    .gameTools {
        width: 390px;
        padding-top: 18%;
    }

    .card, .frontFace, .backFace {
        width: calc((400px / 4) - 10px);
        height: calc((400px / 4) - 10px);
    }

    .homeScreen {

        h1 {
            font-size: 8rem;
        }
    }
}

@media (max-width: 450px) {
    html {
        font-size: 30%;
    }

    .gameBoard {
        width: 300px;
        height: 300px;
    }

    .gameTools {
        width: 290px;
        padding-top: 30%;
    }

    .card, .frontFace, .backFace {
        width: calc((300px / 4) - 10px);
        height: calc((300px / 4) - 10px);
    }
}