article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  color: white;
  font-family: treasure;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

.game {
  display: none;
}

button {
  font-size: 5rem;
  color: #aa7e0c;
  background: gold;
  border: none;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

h2 {
  font-size: 8rem;
}

p {
  font-size: 4rem;
}

.game {
  background: url(../assets/pirateship.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.gameTools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 590px;
  margin: auto;
  font-size: 3rem;
}

.gameBoard {
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: auto;
}

.card {
  width: calc((600px / 4) - 10px);
  height: calc((600px / 4) - 10px);
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.frontFace, .backFace {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: calc((600px / 4) - 10px);
  height: calc((600px / 4) - 10px);
}

.backFace {
  background: url(../assets/chest.jpg);
  background-size: cover;
  background-position: center;
  font-size: 4rem;
}

.frontFace {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #005b59;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.homeScreen {
  background: url(../assets/pirateship.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeScreen h1 {
  font-size: 11rem;
  letter-spacing: 4px;
}

.homeScreen .buttonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

.instructionScreen {
  background: url(../assets/pirateship.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.instructionScreen p {
  width: 60%;
  padding: 2.5%;
}

.winScreen {
  background: url(../assets/pirateship.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.winScreen h2 {
  padding: 5%;
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .gameBoard {
    width: 500px;
    height: 500px;
  }
  .gameTools {
    width: 490px;
    padding-top: 5%;
  }
  .card, .frontFace, .backFace {
    width: calc((500px / 4) - 10px);
    height: calc((500px / 4) - 10px);
  }
  .homeScreen .buttonBox {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .homeScreen h1 {
    font-size: 8rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .gameBoard {
    width: 400px;
    height: 400px;
  }
  .gameTools {
    width: 390px;
    padding-top: 18%;
  }
  .card, .frontFace, .backFace {
    width: calc((400px / 4) - 10px);
    height: calc((400px / 4) - 10px);
  }
  .homeScreen h1 {
    font-size: 8rem;
  }
  .homeScreen .buttonBox {
    width: 70%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 30%;
  }
  button {
    font-size: 4rem;
    padding: 5px;
  }
  .gameBoard {
    width: 300px;
    height: 300px;
  }
  .gameTools {
    width: 290px;
    padding-top: 30%;
  }
  .card, .frontFace, .backFace {
    width: calc((300px / 4) - 10px);
    height: calc((300px / 4) - 10px);
  }
}
